@import "../../assets/colors.css";

.calculator {
  width: 358px;
  border-radius: 12px;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.4);
}

.buttons {
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #242424;
  padding-top: 4px;
  padding-bottom: 3px;
  height: 252px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 19%);
  grid-template-rows: 48px 48px 48px 48px 48px;
  box-shadow: -1px 0px 0px 0px var(--bg-very-light-gray),
    1px 0px 0px 0px var(--bg-very-light-gray),
    0px 1px 0px 0px var(--bg-very-light-gray);
}
