@import "../../assets/colors.css";

.display {
  background-color: var(--bg-medium-gray);
  color: white;
  height: 65px;
  box-shadow: -1px 0px 0px 0px var(--bg-very-very-light-gray),
    1px 0px 0px 0px var(--bg-very-very-light-gray);
  overflow-x: none;
}

.shadow {
  position: relative;
  z-index: 1;
  height: 4px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    180deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(35, 35, 35, 1) 100%
  );
}
